/* Set image on each page with background-image: url(/to/your/comic/assets/images/page-1115x1143-pixels.jpg); */
/* Layout CSS below is applied to all pages of the comics */

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #d9d9d9;
    background-size: 100% 100%;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans Narrow', serif;
    margin: 2vw 0;
    padding: 0;
}

h1 {
  font-size: 6vw;
}

h2{
  font-size: 5vw;
}

.leaf {
  width: 100%;
  height: 100%;
}

.flex {
  display: -webkit-box;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.justify {
  text-align: justify;
}

  
